{
  "openapi": "3.0.0",
  "info": {
    "title": "GitHub AI Trending API",
    "version": "1.0.0",
    "description": "每日定时从 GitHub Trending 抓取热门项目信息，并利用 AI 模型（ChatGPT, DeepSeek 等）生成技术总结。通过 Cloudflare D1 存储并提供多维度动态查询。",
    "contact": {
      "name": "API Support",
      "url": "https://api.trendingai.cn"
    }
  },
  "servers": [
    {
      "url": "https://api.trendingai.cn",
      "description": "生产环境"
    }
  ],
  "paths": {
    "/api/trending": {
      "get": {
        "summary": "获取热门项目榜单",
        "description": "支持根据编程语言、周期、AI 提供商、日期和时段进行过滤。",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "编程语言名称 (如 python, rust, javascript)",
            "schema": {
              "type": "string",
              "default": "all"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "趋势周期",
            "schema": {
              "type": "string",
              "enum": ["daily", "weekly", "monthly"],
              "default": "daily"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "返回结果数量 (1-100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "provider",
            "in": "query",
            "description": "AI 总结提供商，支持逗号分隔多选",
            "schema": {
              "type": "string",
              "example": "deepseek,chatgpt"
            }
          },
          {
            "name": "summary_lang",
            "in": "query",
            "description": "AI 摘要的输出语言",
            "schema": {
              "type": "string",
              "enum": ["zh", "en"],
              "default": "en"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "查询历史日期 (格式: YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "batch",
            "in": "query",
            "description": "查询特定批次（上午或下午）",
            "schema": {
              "type": "string",
              "enum": ["am", "pm"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取数据",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "count": { "type": "integer" },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "since": { "type": "string" },
                        "lang": { "type": "string" },
                        "summary_lang": { "type": "string" },
                        "captured_at": { "type": "string" }
                      }
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rank": { "type": "integer" },
                          "author": { "type": "string" },
                          "repoName": { "type": "string" },
                          "description": { "type": "string" },
                          "language": { "type": "string" },
                          "stars": { "type": "integer" },
                          "aiSummaries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "provider": { "type": "string" },
                                "content": { "type": "string" }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务器错误"
          }
        }
      }
    }
  }
}
